<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ricardopazdemiquel.moviles">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />


    <application
        android:name="utiles.Contexto"
        android:icon="@drawable/ic_icono_siete"
        android:label="Siete"
        android:roundIcon="@mipmap/ic_p_supersiete_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.ricardopazdemiquel.moviles.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAxdWoqiMpucK4ZOf5M8JzQii8m1x9WrR4" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <service
            android:name="utiles.MapService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="utiles.GPS_service"
            android:exported="false" />
        <service android:name="utiles.ForegroundService" />
        <service android:name="com.ricardopazdemiquel.moviles.Services.FirebaseService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name="com.ricardopazdemiquel.moviles.Services.FirebaseMessagin">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name="com.ricardopazdemiquel.moviles.PedirSieteMap"
            android:theme="@style/AppThemeone"
            android:windowSoftInputMode="adjustNothing"
            android:screenOrientation="portrait"/>


        <activity
            android:name="com.ricardopazdemiquel.moviles.PerfilCarrera"
            android:theme="@style/AppThemeone"
            android:windowSoftInputMode="adjustNothing"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.ricardopazdemiquel.moviles.PedirSieteTogo"
            android:theme="@style/AppThemeone"
            android:windowSoftInputMode="adjustNothing"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.ricardopazdemiquel.moviles.Calcular_ruta_activity"
            android:theme="@style/AppThemeone"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.ricardopazdemiquel.moviles.favoritos_pruba"
            android:theme="@style/AppThemeone"
            android:label="@string/app_nameNull"
            android:windowSoftInputMode="adjustNothing"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.ricardopazdemiquel.moviles.Carga"
            android:theme="@style/AppThemetwo"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ricardopazdemiquel.moviles.LoginCliente"
            android:theme="@style/AppThemeone"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.ricardopazdemiquel.moviles.PidiendoSiete"
            android:theme="@style/AppThemethree"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.ricardopazdemiquel.moviles.IniciarCuentaActivity"
            android:theme="@style/AppThemeone"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.ricardopazdemiquel.moviles.Perfil_ClienteFragment"
            android:label="Mi perfil"
            android:theme="@style/AppThemeone"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.ricardopazdemiquel.moviles.Editar_perfil_Activity"
            android:label="Mi perfil"
            android:theme="@style/AppThemeone"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.ricardopazdemiquel.moviles.MisViajes_Cliente_Activity"
            android:label="Mis viajes"
            android:theme="@style/AppThemeone"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.ricardopazdemiquel.moviles.finalizar_viajeCliente"
            android:theme="@style/AppThemeone"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.ricardopazdemiquel.moviles.EsperandoConductor"
            android:theme="@style/AppThemeone"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.ricardopazdemiquel.moviles.Inicio_viaje_togo"
            android:theme="@style/AppThemeone"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.ricardopazdemiquel.moviles.Sin_conexion"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>

        <activity android:name="com.ricardopazdemiquel.moviles.Metodo_de_pagoCliente" />
        <activity
            android:name="com.ricardopazdemiquel.moviles.CanceloViaje_Cliente"
            android:theme="@style/AppThemeone"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.ricardopazdemiquel.moviles.Favoritos_Clientes"
            android:theme="@style/AppThemeone"
            android:label="Favoritos"
            android:windowSoftInputMode="adjustNothing"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.ricardopazdemiquel.moviles.Detalle_viaje_Cliente"
            android:theme="@style/AppThemeone"
            android:label="Detale del viaje"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.ricardopazdemiquel.moviles.Iniciar_Sesion_Activity"
            android:theme="@style/AppThemeone"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.ricardopazdemiquel.moviles.Crear_CuentaActivity"
            android:theme="@style/AppThemeone"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.ricardopazdemiquel.moviles.LoginSocial"
            android:label="Login"
            android:theme="@style/AppThemeone"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.ricardopazdemiquel.moviles.Fragment.Producto_togo_Activity"
            android:theme="@style/AppThemeone"
            android:label="Productos"
            android:screenOrientation="portrait"/>

        <activity android:name="com.ricardopazdemiquel.moviles.Preferencias"
            android:theme="@style/AppThemeone"
            android:label="Preferencias"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.ricardopazdemiquel.moviles.Transaccion_cliente_Activity"
            android:label="Creditos"
            android:theme="@style/AppThemeone"
            android:screenOrientation="portrait"/>

        <activity android:name="com.ricardopazdemiquel.moviles.Chat_Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeone">
        </activity>
        <activity
            android:name="com.ricardopazdemiquel.moviles.Iniciar_cuenta_fb_Activity"
            android:theme="@style/AppThemeone"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.ricardopazdemiquel.moviles.Iniciar_cuenta_gmail_Activity"
            android:theme="@style/AppThemeone"
            android:screenOrientation="portrait"/>
    </application>

</manifest>